 #textbox {
     width: 600px;
     border: 1px solid blue;
 }
 #textbox1 {
     width: 80px;
     border: 1px solid blue;
 }
 #button {
     border: 1px solid #FF1493;
     cursor: pointer;
 }
 #button:hover {
     border: 1px solid #3399FF;
 }
 #nick_und_message {
     width: 80%;
     float: left;
 }
 #uhrzeit {
     width: 20%;
     float: right;
     text-align: right;
 }
 #chat_fenster {
     border: 2px solid blue;
     width: 750px;
     height: 350px;
     padding: 3px;
     overflow: auto;
     float: left;
 }
 #teilnehmer_fenster {
     float: right;
     width: 200px;
 }