.custom-checkbox {
    -webkit-appearance: none; /* Remove default appearance */
    -moz-appearance: none;
    appearance: none;
    margin-top:40px;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    background-color: rgb(245, 8, 0);
 }
 .custom-checkbox:checked::before {
    content: '\2705';
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: rgb(249, 244, 244);
 }
 .custom-checkbox:checked {
    background-color: rgb(10, 47, 230);  /* Change background color when checked */
 }