#LanguageSelector {
 
  position: absolute;  /* Fixed Position statt absolute */
  top: 20px;
  right: 20px;
  background-color: rgb(102, 102, 102);
  border-radius: 8px;
  font-family: "robotocondensed";
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  padding: 10px;
  cursor: pointer;
}

#LanguageSelector .list {
  display: none;
  z-index: 10;
}

#LanguageSelector .list a {
  display: block;
  background-color: white;
  color: rgb(0, 0, 0);
  line-height: 40px;  /* Etwas mehr Platz für Klickbarkeit */
  padding: 5px 10px;  /* Mehr Abstand */
}

#LanguageSelector .list a:hover {
  background-color: #dddddd;
}
 
#LanguageSelector .list a:nth-child(even) {
  background-color: #dddddd;
}