@media only screen and (max-width: 820px) {
  .header {    
  height: 140px;  
  }  
  .header .logo {
    width: 60px;
  }
  .header a.companyname {
    font-size: 25pt;
  }
  #cookie-popup .text{
    display: block;
     top: 30px ;
     font-size: 10px; 
     word-wrap: break-word;
  } 
  
  #Navigation{
    top:140px; 
  }
  #Navigation div {
   background-color: rgb(102, 102, 102);  
  }


  
  .navigationDropDown a { 
    display:inline-block !important;
    position: relative;
    text-align: center; 
    text-decoration: none;
  }

  #optionsfeld {
  left:15px !important;
    height: 25px  !important;
    font-size: 10px !important; 
   
  }

   .content {
    top: 220px;
    width: 90%;
  }   
  .button {
    display:inline-block;  
  }  
}
@media (min-width: 950px) {
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 20%;
  }
}
@media only screen and (max-width: 450px) {
  div.card {
    width: 10px;
  }
}