/* Allgemeine Stile */
body {
  width: 100%;
  overflow: auto;
}
 
 main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Main-Bereich soll den Platz füllen */
 

.content {
  flex-grow: 1;
  padding-right: 10%;
  padding-left: 10%;
  overflow-x: hidden;
  overflow-y: auto;
 
}
div.content_container {
  display: block;
  position: absolute;
  top: 160px;
  width: 100px;
  bottom: 0;
  right: 0;
  padding-right: 10%;
  padding-left: 10%;
  overflow-x: hidden;
  overflow-y: auto;
}
div.content h1,
h2,
h3,
h4 {
  text-align: center;
  font-size: 18pt;
  font-weight: normal;
  font-family: "robotocondensed";
}
div.content h5 {
  text-align: center;
  font-size: 10pt;
  font-weight: normal;
  font-family: "robotocondensed";
}
div.content h6 {
  text-align: center;
  font-size: 10pt;
  font-weight: normal;
  font-family: "robotocondensed";
}
 
div.comment_container { 
    bottom: 0;
    text-align: center;
}
 

/* Buttons */
button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #0056b3;
}

   
  
  