# Verzeichnisse ignorieren
node_modules/
logs/
tmp/
private/
dev/

# Bestimmte Dateien ignorieren
config.php
.env
debug.log
.gitignore

# Alle .log-Dateien ignorieren
*.log
logs/
private/
tmp/
# Alle .DS_STORE ignorieren
.DS_Store
**/**/.DS_Store
.history

# Alle .DS_STORE ignorieren
dev
**/**/dev
.history

# Alle .DS_STORE ignorieren
.ignorieren
**/**/.ignorieren
.history