# Verzeichnisse ignorieren
node_modules/
logs/
tmp/
private/

# Bestimmte Dateien ignorieren
config.php
.env
debug.log

# Alle .log-Dateien ignorieren
*.log
logs/
private/
tmp/
# Alle .DS_STORE ignorieren
.DS_Store
**/**/.DS_Store
.history