# Verzeichnisse ignorieren
node_modules/
logs/
tmp/
private/
dev/
config/

# Bestimmte Dateien ignorieren
config.php
.env
debug.log
.gitignore
handd.erd.json

# Alle .log-Dateien ignorieren
*.log
logs/
private/
tmp/
# Alle .DS_STORE ignorieren
.DS_Store
**/**/.DS_Store
.history

# Alle .DEV ignorieren
dev
**/**/dev
.history

# Alle .erd ignorieren
handd.erd.json
**/**/handd.erd.json
.history