@font-face {
  font-family: "greatvibes";
  src: URL("../fonts/greatvibes/GreatVibes-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "robotocondensed";
  src: URL("../fonts/robotocondensed/robotocondensedlight.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: URL("../fonts/robotocondensed/RobotoCondensed-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: URL("../fonts/robotocondensed/RobotoCondensed-Bold.woff2") format("woff2");
}
:root {
  --red: hsl(0, 78%, 62%);
  --orange: hsl(42, 93%, 50%);
  --blue: hsl(219, 85%, 65%);
  --yellow: rgb(251, 222, 5);
  --varyDarkBlue: hsl(234, 98%, 48%);
  --grayishBlue: hsl(48, 4%, 25%);
  --veryLightGray: hsl(0, 0%, 98%);
  --normalcolorwhite: white;
  --normalcolorblack: black;
  --background-color: rgba(225, 199, 33, 0.114); 
}
html,
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* Zentriert den Inhalt */
  align-items: center; /* Zentriert alles horizontal */
}
body {
  width: 100%;
  overflow: hidden;
}
header, nav, footer {
  flex: 1 100%;
}
.header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0;
  width: 100%;
  height: 160px;
  background-image: repeating-conic-gradient(from 1turn, rgb(0, 0, 0) 20.59%, rgb(1, 66, 246) 76.05%, rgb(252, 202, 1) 83.61%);
  box-shadow: 0px 10px 29px -10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.header .logo {
  width: 120px;
}

.header a.companyname {
  font-family: "greatvibes";
  font-size: 30pt;
  background-image: linear-gradient(90deg, orange, rgb(241, 229, 7));
  background-clip: text;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#Navigation {
   
    display: flex;
    justify-content: center;
    align-items: center;
  }

#Navigation div {
  position: relative;
  display: inline-block;
}
#Navigation div div {
  position: absolute;
  left: 0;
  top: 30px;
}
#Navigation div:hover .navigationDropDown {
  display: block !important;
}
#Navigation a {
  line-height: 30px;
  font-family: "robotocondensed";
  color: var(--normalcolorwhite);
  display: inline-block;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.4pt;
  font-size: 12pt; 
  border : #fae27f !important; 
}
#Navigation a.marked {
  background-color: black;
   
}
#Navigation a:hover {
 background-color: #fae27f;
  color: black;
}
.navigationDropDown { 
  display: none !important;
  position: relative;
  z-index: 2;
  min-width: 100%;
  top: 30px;
  left: 0;  
  line-height: 30px;
  background-color: rgb(102, 102, 102);
  color: var(--normalcolorwhite);
  overflow: hidden;
}
.navigationDropDown:hover {
  display: block !important;
}
.navigationDropDown a { 
  display: block !important;
  font-family: "robotocondensed";
  color: var(--normalcolorwhite);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.4pt;  
  font-size: 15px;
  white-space: nowrap;
}
.navigationDropDown a:hover {
  background-color: #fae27f;
  color: black;
}
.slogan {
  position: absolute;
  top: 100px;
  right: 20px;
  color: aliceblue;
}
.hyphens {
  position: absolute;
  left: 120px;
  right: 120px;
  top: 20px;
  text-align: center;
  font-size: 20pt;
  color: white;
  white-space: wrap;
  word-wrap: break-word;
}
.content {
  display: block;
  position: absolute;
  top: 200px;
  bottom: 0;
  right: 0;
  left: 0;
  padding-right: 10%;
  padding-left: 10%;
  overflow-x: hidden;
  overflow-y: auto;
}
div.content_container {
  display: block;
  position: absolute;
  top: 160px;
  width: 100px;
  bottom: 0;
  right: 0;
  padding-right: 10%;
  padding-left: 10%;
  overflow-x: hidden;
  overflow-y: auto;
}
div.content h1,
h2,
h3,
h4 {
  text-align: center;
  font-size: 18pt;
  font-weight: normal;
  font-family: "robotocondensed";
}
div.content h5 {
  text-align: center;
  font-size: 10pt;
  font-weight: normal;
  font-family: "robotocondensed";
}
div.content h6 {
  text-align: center;
  font-size: 10pt;
  font-weight: normal;
  font-family: "robotocondensed";
}
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  color: rgb(102, 102, 102);
  font-weight: bold;
  font-size: 10px;
  font-family: "robotocondensed";
}
footer a {
  color: rgb(102, 102, 102);
  font-weight: bold;
}
div.comment_container { 
    bottom: 0;
    text-align: center;
    float: right;
    right: 50px;
    width: 150px auto;
    height: 400px;
    overflow: scroll;
    background-color: rgba(242, 214, 5, 0.212);
    border: 1px solid #053beb; 
    padding: 20px;   
    border-radius: 5% 5% 5% 5%;
  } 
 
.pointer {
	cursor: pointer;
}
textarea{
  caret-color: red;  
	width: 60em;
	height: 15em;
	border: 1px solid #cccccc;
	padding: 0.5em;

}
.chart{
 
  width: 50px ;
  height: 50px;
}